@media (min-width: 768px) {
    h1 {font-size: 2.5rem;}
    h2, h3 {font-size: 1.2rem;}
    p {font-size: 1.2rem;}

    :root {
        --p-font-size: 1.2rem;
    }

    .container {
        padding: 0 7%;
    }

    nav {
        padding: 1.25rem 5%;
    }
    
    nav.scrolled {
        padding: 0.75rem 5%;
    }

    .header-content {
        margin-top: 3rem;
    }

    .intro p {
        font-size: 4rem;
    }

    .pfp-container {
        margin-top: 2rem;
    }

    .section {
        padding-top: 7rem;
    }

    .icon-link {
        font-size: 2.4rem;
    }

    .mobile-socials {
        gap: 1rem;
    }
    
    .email {
        margin-top: 1rem;
    }
    
    .email-copy {
        gap: 1rem;
    }

    footer {
        margin-bottom: 7rem;
    }
}

@media (min-width: 1024px) {

    .container {
        padding: 0 10%;
    }

    nav {
        padding: 1.25rem 10%;
    }
    
    nav.scrolled {
        padding: 0.75rem 10%;
    }

    .header-content {
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
    }

    .header-text {
        white-space: nowrap;
        text-align: left;
    }

    .pfp-container {
        background: linear-gradient(to bottom, #dc5653, #b03277);
    }

    .profile-pic {
        transition: transform 0.4s ease-in-out;
    }
    
    .profile-pic:hover {
        transform: translateX(-5px) translateY(-5px); 
    }

    /* Scroll */
    .scroll {
        display: flex;
        justify-content: flex-start;
    }

    .jumping {
        display: flex;
        justify-content: center;
        position: relative;
        margin: 1rem 0 18rem 12rem;
    }
    
    .jumping h3 {
        opacity: 0.7;
        margin-right: 4px;
        animation: jump 2.7s ease-in-out infinite;
    }

    .jumping::after {
        content: "";
        position: absolute;
        bottom: -18.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 18rem;
        background-color: white;
        opacity: 0.7;
      }
    
    @keyframes jump {
        0%, 20%, 100% {
            transform: translateY(0);
            color: #fff;
            opacity: 0.7;
        }
        10% {
            transform: translateY(-6px);
            color: #ee3255;
            opacity: 1;
        }
    }
    
    .scroll #scroll-1 {
        animation-delay: 0s;
    }
    
    .scroll #scroll-2 {
        animation-delay: 0.15s;
    }
    
    .scroll #scroll-3 {
        animation-delay: 0.3s;
    }
    
    .scroll #scroll-4 {
        animation-delay: 0.45s;
    }
    
    .scroll #scroll-5 {
        animation-delay: 0.6s;
    }
    
    .scroll #scroll-6 {
        animation-delay: 0.75s;
    }

    /* About */
    #about .container {
        display: flex;
    }

    #projects-dotted-box {
        display: flex;
        justify-content: space-between;
        gap: 5%;
    }

    .dotted-box {
        display: block;
        width: 50%;
        background-image: radial-gradient(rgba(238, 50, 85, 0.65) 1px, transparent 1px);
        background-size: 1rem 1rem;
        border-radius: 0.3rem;
        animation: move-up-and-down 4s infinite;
    }

    @keyframes move-up-and-down {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 0 4px; /* Move down */
        }
        100% {
            background-position: 0 0; /* Move back up */
        }
    }

    #about h1 {
        flex: 1;
    }
    
    #about .container div {
        flex: 1;
        padding-top: 0.5rem;
    }

    /* Portfolio */
    .project-container {
        margin: 6rem 0;
        justify-content: space-between;
        flex-direction: row;
        gap: 4%;
    }

    .project-desc {
        flex: 0 0 48%;
        max-width: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project-misc {
        margin-bottom: 0;
    }

    .skill {
        padding: 0.2rem 0.6rem;
    }

    .project-image-container {
        position: relative;
        overflow: hidden;
        flex: 0 0 48%;
        margin: 0;
    }

    .project-image {
        width: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.5), #ee3255);
        transition: opacity 0.4s ease;
        opacity: 0.9;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .project-image-container:hover .overlay {
        opacity: 0;
    }

    .odd-num-project .project-image-container {
        order: 1;
    }

    .odd-num-project .project-desc {
        order: 2;
    }

    .odd-num-project .project-misc .project-links {
        order: 1;
    }

    .odd-num-project .project-misc .project-skills {
        order: 2;
    }

    .btn {
        display: inline-block;
        padding: 0.3rem;
        background-color: rgba(238, 50, 85, 0.6);
        color: #fff;
        opacity: 0.8;
        border-radius: 0.3rem;
        transition: background-color 0.8s, opacity 0.8s, transform 0.8s;
        font-size: 1rem;
    }
    
    .btn:hover {
        background-color: #ee3255;
        opacity: 1;
        transform: translateY(-5px);
    }
}

@media (min-width: 1440px) {
    h1 {font-size: 3rem;}
    h2 {font-size: 2rem;}
    h3 {font-size: 1.5rem;}
    p {font-size: 1.2rem;}

    :root {
        --p-font-size: 1.2rem;
    }

    nav {
        padding: 1.25rem 7%;
    }
    
    nav.scrolled {
        padding: 0.75rem 7%;
    }

    .container {
        padding: 0 18%; /* Cap width for large screens */
    }

    .header-content {
        margin-top: 7rem;
    }

    .intro p {
        font-size: 5rem;
    }

    .section {
        padding-top: 10rem;
    }

    .project-container {
        padding: 0 7%;
    }

    /* Social links */
    .mobile-socials {
        display: none;
    }

    .desktop-socials {
        position: fixed;
        top: 70%;
        left: 7%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
    }

    .desktop-socials::after {
        content: "";
        position: absolute;
        bottom: -16.2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 15rem;
        background-color: white; 
        opacity: 0.7;
      }

    @keyframes appear {
        from {
            opacity: 0;
            scale: 0.8;
        } to {
            opacity: 1;
            scale: 1;
        }
    }

    .section {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }
}