* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

/* Header */
header {
    width: 100%;
    height: auto;
    background-attachment: fixed;
}

.container {
    padding: 10px 20%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -20%;
}

#logo {
    width: 110px;
    height: auto;
    margin-left: -38px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 0px 10px 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

#header-content {
    display: flex; /* Enable horizontal alignment */
    align-items: center; /* Vertically center the elements */
    justify-content: space-between; /* Horizontally center the content */
    flex-wrap: wrap; /* Stack content on smaller screens */
    margin-top: 70px; /* Add space below navigation */
}

#title {
    font-size: 25px;
}

.intro {
    font-size: 50px;
    font-weight: bold;
}

#top {
    margin-top: 25px;
}

#header-content h1 {
    font-size: 80px;
    background: linear-gradient(to bottom, #dc5653, #b03277);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#profile-pic {
    width: auto; /* Set the desired size of the image */
    height: 550px; /* Maintain aspect ratio */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for better visibility */
}

/* Social links */
#socials {
    position: fixed;
    top: 65%;
    left: 149px;
}

#links ul {
    list-style: none;
}

#links ul li {
    margin-bottom: 20px;
}

.icon {
    width: 34px;
    height: auto;
    opacity: 0.4;
    transition: opacity 0.5s, transform 0.4s;
}

.icon:hover {
    transform: scale(1.2);
    opacity: 1;
}

.vertical-line {
    border-left: 3px solid white;
    height: 100px;
    margin-left: 15px;
    opacity: 0.4;
}

/* Scroll */
#scroll {
    margin-top: 20px;
    margin-left: 15%;
}

.jumping-word {
    display: flex;
}

.jumping-word h4 {
    opacity: 0.6;
    margin-right: 4px;
    animation: jump 2.7s ease-in-out infinite;
}

@keyframes jump {
    0%, 20%, 100% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-6px);
    }
}

.jumping-word #scroll-1 {
    animation-delay: 0s;
}

.jumping-word #scroll-2 {
    animation-delay: 0.15s;
}

.jumping-word #scroll-3 {
    animation-delay: 0.3s;
}

.jumping-word #scroll-4 {
    animation-delay: 0.45s;
}

.jumping-word #scroll-5 {
    animation-delay: 0.6s;
}

.jumping-word #scroll-6 {
    animation-delay: 0.75s;
}

#scroll .vertical-line {
    margin-left: 367px;
    height: 300px;
    border-left: 2px solid white;
}

/* About */
#about {
    margin-top: 70px;
}
.col-1 {
    position: sticky;
}

/* Footer */
footer {
    text-align: center;
}